<div class="container mt-4">
    <h2>Thêm tài khoản mới</h2>
    <form (ngSubmit)="addAccount()" #accountForm="ngForm">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control mt-2" id="email" name="email" [(ngModel)]="newAccount.email"
                required>
        </div>
        <div class="form-group mt-3">
            <label for="username">Tên tài khoản:</label>
            <input type="text" class="form-control mt-2" id="username" name="username" [(ngModel)]="newAccount.username"
                required>
        </div>
        <div class="form-group mt-3">
            <label for="password">Mật khẩu:</label>
            <input type="password" class="form-control mt-2" id="password" name="password"
                [(ngModel)]="newAccount.password" required>
        </div>
        <div class="form-group mt-3">
            <label for="role">Vai trò:</label>
            <select class="form-control mt-2" id="role" name="role" [(ngModel)]="newAccount.role" required>
                <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Thêm mới</button>
    </form>
</div>