<div class="container">
  <div class="row">

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Doanh thu</h5>
          <p class="card-text">$1000</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lợi nhuận</h5>
          <p class="card-text">$5000</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Số lượng khách hàng</h5>
          <p class="card-text">50</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Số lượng đơn hàng</h5>
          <p class="card-text">20</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-md-8">
      <h2>Thống kê 1</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Số lượng</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Sản phẩm A</td>
            <td>10</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Sản phẩm B</td>
            <td>20</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h2>Thống kê 2</h2>
      <table class="table w-100">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Tiến độ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>